@import "_variables.scss";

label {
    font-size: 1.4rem;
    font-family: $font-family-serif;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.low {
    color: red;
}

.high {
    color: greenyellow;
}