@import "_variables.scss";

label {
    font-size: 1.2rem;
    font-family: $font-family-serif;
    display: flex;
    align-items: center;
}

.low {
    color: rgb(206, 54, 54);
}

.high {
    color: greenyellow;
}