@import "_variables.scss";

mat-card{
    width: 22rem;
    cursor: pointer;
    transition: .3s box-shadow;

    &:hover, &:focus, &:active{
        transition: .3s box-shadow;
        box-shadow: 0px 0px 10px 0px rgba(#1ce8f7, 0.7);
    }

    .icon{
        width: 6.4rem;
    }
}