<!-- <mat-card routerLink="/rates/usd">
    <mat-card-header>
        <div mat-card-avatar class="icon">
            <app-coin-icon height="100%" width="auto" [asset_id]="rate.asset_id_quote"></app-coin-icon>
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>{{rate.asset_id_quote | uppercase}}</mat-card-title>
        <mat-card-subtitle>{{rate.rate | currency:price_unit:'':'1.5-5'}} {{rate.asset_id_quote}}</mat-card-subtitle>
      </mat-card-content>
</mat-card> -->