<div *ngIf="!loading && coin; else loadingSpinner" class="container">
    <mat-card class="view">
        <div class="view__header">
            
            <div class="details">
                <app-coin-icon class="card__logo" height="6.4rem" width="6.4rem"
                    [url]="coin.image.large"></app-coin-icon>
                <h1 class="view__header-symbol">{{coin.symbol}} <span class="text-muted">({{coin.id}})</span></h1>
            </div>

            <div class="controls">
                <!-- Date range -->
                <mat-form-field>
                    <mat-label>Day range</mat-label>
                    <mat-select class="no-padding" (selectionChange)="dayRangeSelect()" [(value)]="selectedDays">
                        <mat-option *ngFor="let days of daysList" [value]="days">
                            {{days}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- vs_currency -->
                <mat-form-field>
                    <mat-label>Base coin</mat-label>
                    <mat-select class="no-padding" (selectionChange)="vsCurrencySelect($event)"
                        [(value)]=" this.currencyService.selectedCurrency">
                        <mat-option *ngFor="let currency of this.currencyService.currencyList" [value]="currency">
                            {{currency}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="view__content">
            <h2>Historical price:</h2>
            <app-historial-market-chart [data]="$marketChartData"></app-historial-market-chart>
        </div>
    </mat-card>
</div>

<ng-template #loadingSpinner>
    <div class="flex-center-center p-8">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>