<mat-card class="card">
    <div class="card__header">
        <app-coin-icon class="card__logo" height="6.4rem" width="6.4rem" [url]="coin.image"></app-coin-icon>
        <span *ngIf="coin.price_change_percentage_1h_in_currency" class="card__price-range" matTooltipPosition="above" matTooltip="1 hour">
            <app-price-percentage [price]="coin.price_change_percentage_1h_in_currency">
            </app-price-percentage>
        </span>
    </div>
    <div class="card__body">
        <div class="card__body--names">
            <mat-card-title class="card__body-symbol">{{ coin.symbol | uppercase}}</mat-card-title>
            <mat-card-subtitle title="{{ coin.id | titlecase }}" class="card__body-id text-muted">{{ coin.id | titlecase }}</mat-card-subtitle>
        </div>
        <mat-card-subtitle class="card__body-price">${{ coin.current_price | number:'1.2-4'  }}</mat-card-subtitle>
    </div>
</mat-card>