@import "_variables.scss";

.card {
    padding: 2rem;
    cursor: pointer;
    transition: .3s box-shadow;

    &:hover,
    &:focus,
    &:active {
        transition: .3s box-shadow;
        box-shadow: 0px 0px 3px 1px rgba($primary, 0.9);
    }


    &__header {
        width: 100%;
        display: flex;
        padding-bottom: 1rem;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &--names{
            max-width: 5rem;
        }

        &-symbol {
            width: 100%;
            font-size: 2.5rem;
            font-weight: 600;
            letter-spacing: 0.1rem;
        }

        &-id {
            font-size: 1.2rem;
            font-weight: 200;
            letter-spacing: 1px;
            color: rgba(#fff, 0.8);
            width : 100px;
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &-price {
            color: #fff;
            font-size: 2.5rem;
            text-align: right;
            border-radius: .6rem;
        }
    }
}

