<!-- <mat-card>
    <div class="flex-between-center">
        <app-price-percentage [price]="coin.price_change_percentage_1h_in_currency"></app-price-percentage>
    </div>
    <mat-card-content>
       
        <mat-card-subtitle>{{ coin.current_price | currency }}</mat-card-subtitle>
    </mat-card-content>
</mat-card> -->

<mat-card class="card">
    <div class="card__header">
        <app-coin-icon class="card__logo" height="6.4rem" width="6.4rem" [url]="coin.image"></app-coin-icon>
        <app-price-percentage class="card__price-range" [price]="coin.price_change_percentage_1h_in_currency"></app-price-percentage>
    </div>
    <div class="card__body">
        <mat-card-title class="card__body-symbol">{{coin.symbol | uppercase}}</mat-card-title>
        <mat-card-subtitle  class="card__body-id">{{ coin.id }}</mat-card-subtitle>
        <mat-card-subtitle class="card__body-price">{{ coin.current_price | currency }}</mat-card-subtitle>
    </div>
</mat-card>