.dashboard {
    display: flex;
    flex-direction: column;
    gap: 1rem 0rem;
    margin-top: 5rem;

    &__title{
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__content {
        .cards{
            display: grid;
            grid-gap: 1.5rem;
            grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
        }
    }
}