// Background
$bg-dark: #191919;

// Colors
$primary: #1ce8f7;

// Fonts
$font-family-serif: 'Poppins', sans-serif;
$font-family-sanserif: 'Poppins', serif;
$font-family-monospace: '';
$font-size: 1rem;
