// Background
$bg-dark: #191919;

// Colors
$primary: #1ce8f7;

// Fonts
$font-family-serif: 'Poppins', sans-serif;
$font-family-sanserif: 'Poppins', serif;
$font-family-monospace: '';
$font-size: 1rem;

// Breakpoints
$sm: 60;
$md: 96;
$lg: 128;
$xl: 192;

// Border-radius
$border-rounded-sm: .4rem;
$border-rounded-md: .8rem;
$border-rounded-lg: 1.2rem;
$border-rounded-xl: 1.4rem;
$border-rounded-xxl: 1.8rem;