// Background
$bg-dark: #191919;

// Colors
$primary: #fdfdfc;
$secondary: #f65931;
$dark: #1b1b17;
$success: #78e824;
$warning: #ccc123;
$danger: #e5383e;
$info: #fbfcfd;

@font-face {
    font-family: 'ProximaNova';
    src: url('https://www.decrypto.la/ProximaNova-Regular.f68460597dbfd4ac.otf');
    font-weight: 600;
}

// Fonts
$font-family-serif: 'ProximaNova', sans-serif;
$font-family-sanserif: 'ProximaNova', serif;
$font-family-monospace: '';
$font-size: 1rem;

// Breakpoints
$sm: 600;
$md: 960;
$lg: 1280;
$xl: 1920;

// Box padding
$box-padding-md: 3rem;

// Border-radius
$border-rounded-sm: 4px;
$border-rounded-md: 8px;
$border-rounded-lg: 12px;
$border-rounded-xl: 14px;
$border-rounded-xxl: 18px;